// SCSS variables for use in light color scheme and as default fallbacks
// I might just leave them to be specified entirely in the custom properties if
// I weren't referencing them for the fallbacks to the var-with-fallback mixin
$bgcolor: #fff;
$textcolor: #000;
$capscolor: #6af;
$flaircolor: #cef;
$bordercolor: #69f;
$strokecolor: #000;
$inputborder: #888;
$inputfocus: #333;
$tabglowcolor: #aab;
// Also make variables for these default (light mode) text-shadow values, cus they're real long
// including 8 values feels a BIT overkill, but w/o the last 4 there are obvious gaps at the serifs
$defaultcapsstroke: -1px -1px 0 $strokecolor,
                    1px -1px 0 $strokecolor,
                    -1px 1px 0 $strokecolor,
                    1px 1px 0 $strokecolor,
                    1px 0 0 $strokecolor,
                    -1px 0 0 $strokecolor,
                    0 1px 0 $strokecolor,
                    0 -1px 0 $strokecolor;
$defaulttabhover: 0 1px 0 0 $bordercolor,
                  0 5px 0 0 $bgcolor,
                  0 0 3px 0 $tabglowcolor;

// I do some real tomfoolery with media queries to support dark mode preferences
// while also allowing them to be overridden, so mixins are easier to read
@mixin light-theme {
  --main-bg-color: #{$bgcolor};
  --main-text-color: #{$textcolor};
  --initial-caps-color: #{$capscolor};
  --customrule-flair-color: #{$flaircolor};
  --initial-caps-stroke: #{$defaultcapsstroke};
  --main-content-border: 1px solid #{$bordercolor};
  --text-input-border: 1px solid #{$inputborder};
  --text-input-border-focus: 2px solid #{$inputfocus};
  --tab-hover-fill: #{$bordercolor};
  --tab-hover-border: 1px solid #{$tabglowcolor};
  --tab-hover-shadow: #{$defaulttabhover};
}

@mixin dark-theme {
  --main-bg-color: #223;
  --main-text-color: #eee;
  --initial-caps-color: #46e;
  --customrule-flair-color: #236;
  --initial-caps-stroke: -1px -1px 0 #fff,
                         1px -1px 0 #fff,
                         -1px 1px 0 #fff,
                         1px 1px 0 #fff,
                         1px 0 0 #fff,
                         -1px 0 0 #fff,
                         0 1px 0 #fff,
                         0 -1px 0 #fff;
  --main-content-border: 1px solid #{$bordercolor};
  --text-input-border: 1px solid #333;
  --text-input-border-focus: 2px solid #888;
  --tab-hover-fill: #{$bordercolor};
  --tab-hover-border: 1px solid #dde;
  --tab-hover-shadow: 0 1px 0 0 #{$bordercolor},
                      0 5px 0 0 #223,
                      0 0 3px 0 #dde;
}

:root {
  // Default color scheme is light mode, this is what will be used if the user
  // has JavaScript disabled or the browser doesn't support these media queries
  @include light-theme;

  [data-theme="dark"] {
    // When dark theme is explicitly set, only support dark color scheme... for real
    color-scheme: dark !important;
    @include dark-theme;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    // If the browser can detect a preference for dark mode, it should be honored
    // unless it's been overridden explicitly
    @include dark-theme;

    [data-theme="light"] {
      // When light theme is explicitly set, only support light color scheme... for real
      color-scheme: light !important;
      @include light-theme;
    }
  }
}

// #theme-toggle-container {
//   // TODO|kevin

//   input[type="checkbox"] {
//     appearance: none;
//   }

//   span {
//     background: white;
//     color: black;

//     &::before, &::after {
//       border-radius: 4px;
//       display: inline-block;
//       min-width: 6ch;
//     };

//     &::after {
//       content: 'Dark';
//     }
//     &::before {
//       content: 'Light';
//     }
//   }
//   // TODO|kevin should I really be using aria-checked properties here, or just letting the checkbox work like a checkbox???
//   #theme-toggle[aria-checked="true"] span::after {
//     background: black;  // TODO|kevin this is gonna need a lot of visual fucking-with regardless, just use SOMETHING...
//     color: #eee;
//   }

//   #theme-toggle[aria-checked="false"] span::before {
//     background-color: yellow;
//     color: black;
//   }
// }

// TODO|kevin okay let's try out a version where there's only ONE textual element
#theme-toggle-container {
  input[type="checkbox"] {
    appearance: none;
  }

  span.theme-header {
    display: inline-block;
    text-transform: lowercase;
    font-variant: small-caps;
    width: 4.5em;
    text-align: center;
  }

  span.theme-slider {
    background: cornflowerblue;  // Sunny!!!
    border: 2px solid black;
    border-radius: 1em;
    color: black;
    line-height: 1.4em;
    width: 4.5em;
    display: block;
    
    &::after {
      background: white;
      // Describe unchecked state by default
      border-radius: 50%;
      box-sizing: border-box;
      border: 1px solid black;
      // display: inline-block;
      content: '🌞';
      float: left;
      width: 1.4rem;
      height: 1.4rem;
      // position: relative;
      // left: -1px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding-top: 1px;
    }
    &::before {
      content: 'Light';
      float: right;
      margin-left: 0;
      margin-right: 0.3em;
    }
  }

  input[type="checkbox"]:checked + span.theme-slider {
    background: darkslateblue;

    &::after {
      content: '🌝';
      float: right;
      left: unset;
      right: -1px;
      // The "body" of the sun is smaller because of the rays, shrink moon to compensate
      font-size: 80%;
      background: #223;
    }
    &::before {
      content: 'Dark';
      color: #eee;
      float: left;
      margin-left: 0.3em;
      margin-right: 0;
    }
  }
}
