@import '_themes';

// TODO|kevin NOTE these styles are separated from _themes.scss so other files
// can import _themes WITHOUT side-effects, under the assumption that the color
// schemes will already be included as part of shared.css further up the page.
:root {
  // Default color scheme is light mode, this is what will be used if the user
  // has JavaScript disabled or the browser doesn't support these media queries
  @include light-theme;

  [data-theme="dark"] {
    // When dark theme is explicitly set, only support dark color scheme... for real
    color-scheme: dark !important;
    @include dark-theme;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    // If the browser can detect a preference for dark mode, it should be honored
    // unless it's been overridden explicitly
    @include dark-theme;

    [data-theme="light"] {
      // When light theme is explicitly set, only support light color scheme... for real
      color-scheme: light !important;
      @include light-theme;
    }
  }
}

#theme-toggle {
  input[type="checkbox"] {
    appearance: none;
    margin: 0;
  }

  span.theme-header {
    border: 2px solid transparent;
    display: inline-block;
    font-variant: small-caps;
    text-align: center;
    text-transform: lowercase;
    width: 4.5em;
  }

  span.theme-slider {
    background: lightyellow;
    border: 2px solid black;
    border-radius: 1em;
    color: black;
    display: block;
    line-height: 1.4em;
    width: 4.5em;

    // These pseudoelements describe the unchecked state by default
    &::after {
      align-content: center;
      background: cornflowerblue;
      border: 1px solid cornflowerblue;
      border-radius: 50%;
      box-sizing: border-box;
      content: '🌞';
      display: flex;
      flex-direction: column;
      float: left;
      height: 1.4rem;
      justify-content: center;
      padding-top: 1px;
      text-align: center;
      width: 1.4rem;
    }

    &::before {
      content: 'Light';
      float: right;
      margin-left: 0;
      margin-right: 0.3em;
    }
  }

  // Styles for checked state have higher specificity
  input[type="checkbox"]:checked+span.theme-slider {
    background: darkslateblue;
    border-color: #eee;

    &::after {
      background: black;
      border-color: black;
      content: '🌝';
      float: right;
      // The "body" of the sun is smaller because of the rays, shrink moon to compensate
      font-size: 80%;
    }

    &::before {
      color: #eee;
      content: 'Dark';
      float: left;
      margin-left: 0.3em;
      margin-right: 0;
    }
  }
}