// SCSS variables for use in light color scheme and as default fallbacks
// I might just leave them to be specified entirely in the custom properties if
// I weren't referencing them for the fallbacks to the var-with-fallback mixin
$bgcolor: #fff;
$textcolor: #000;
$capscolor: #6af;
$flaircolor: #cef;
$bordercolor: #69f;
$strokecolor: #000;
$inputborder: #888;
$inputfocus: #333;
$tabglowcolor: #aab;
// Also make variables for these default (light mode) text-shadow values, cus they're real long
// including 8 values feels a BIT overkill, but w/o the last 4 there are obvious gaps at the serifs
$defaultcapsstroke: -1px -1px 0 $strokecolor,
                    1px -1px 0 $strokecolor,
                    -1px 1px 0 $strokecolor,
                    1px 1px 0 $strokecolor,
                    1px 0 0 $strokecolor,
                    -1px 0 0 $strokecolor,
                    0 1px 0 $strokecolor,
                    0 -1px 0 $strokecolor;
$defaulttabhover: 0 1px 0 0 $bordercolor,
                  0 5px 0 0 $bgcolor,
                  0 0 3px 0 $tabglowcolor;

// I do some real tomfoolery with media queries to support dark mode preferences
// while also allowing them to be overridden, so mixins are easier to read
@mixin light-theme {
  --main-bg-color: #{$bgcolor};
  --main-text-color: #{$textcolor};
  --initial-caps-color: #{$capscolor};
  --customrule-flair-color: #{$flaircolor};
  --initial-caps-stroke: #{$defaultcapsstroke};
  --main-content-border: 1px solid #{$bordercolor};
  --text-input-border: 1px solid #{$inputborder};
  --text-input-border-focus: 2px solid #{$inputfocus};
  --tab-hover-fill: #{$bordercolor};
  --tab-glow-color: #{$tabglowcolor};
  --tab-hover-border: 1px solid #{$tabglowcolor};
  --tab-hover-shadow: #{$defaulttabhover};
}

@mixin dark-theme {
  --main-bg-color: #223;
  --main-text-color: #eee;
  --initial-caps-color: #46e;
  --customrule-flair-color: #236;
  --initial-caps-stroke: -1px -1px 0 #fff,
                         1px -1px 0 #fff,
                         -1px 1px 0 #fff,
                         1px 1px 0 #fff,
                         1px 0 0 #fff,
                         -1px 0 0 #fff,
                         0 1px 0 #fff,
                         0 -1px 0 #fff;
  --main-content-border: 1px solid #{$bordercolor};
  --text-input-border: 1px solid #333;
  --text-input-border-focus: 2px solid #888;
  --tab-hover-fill: #{$bordercolor};
  --tab-glow-color: #dde;
  --tab-hover-border: 1px solid #dde;
  --tab-hover-shadow: 0 1px 0 0 #{$bordercolor},
                      0 5px 0 0 #223,
                      0 0 3px 0 #dde;
}

:root {
  // Default color scheme is light mode, this is what will be used if the user
  // has JavaScript disabled or the browser doesn't support these media queries
  @include light-theme;

  [data-theme="dark"] {
    // When dark theme is explicitly set, only support dark color scheme... for real
    color-scheme: dark !important;
    @include dark-theme;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    // If the browser can detect a preference for dark mode, it should be honored
    // unless it's been overridden explicitly
    @include dark-theme;

    [data-theme="light"] {
      // When light theme is explicitly set, only support light color scheme... for real
      color-scheme: light !important;
      @include light-theme;
    }
  }
}

// 
#theme-toggle {
  input[type="checkbox"] {
    appearance: none;
    margin: 0;
  }

  span.theme-header {
    border: 2px solid transparent;
    display: inline-block;
    font-variant: small-caps;
    text-align: center;
    text-transform: lowercase;
    width: 4.5em;
  }

  span.theme-slider {
    background: lightyellow;
    border: 2px solid black;
    border-radius: 1em;
    color: black;
    display: block;
    line-height: 1.4em;
    width: 4.5em;
    
    // These pseudoelements describe the unchecked state by default
    &::after {
      align-content: center;
      background: cornflowerblue;
      border: 1px solid cornflowerblue;
      border-radius: 50%;
      box-sizing: border-box;
      content: '🌞';
      display: flex;
      flex-direction: column;
      float: left;
      height: 1.4rem;
      justify-content: center;
      padding-top: 1px;
      text-align: center;
      width: 1.4rem;
    }
    &::before {
      content: 'Light';
      float: right;
      margin-left: 0;
      margin-right: 0.3em;
    }
  }

  // Styles for checked state have higher specificity
  input[type="checkbox"]:checked + span.theme-slider {
    background: darkslateblue;
    border-color: #eee;

    &::after {
      background: black;
      border-color: black;
      content: '🌝';
      float: right;
      // The "body" of the sun is smaller because of the rays, shrink moon to compensate
      font-size: 80%;
    }
    &::before {
      color: #eee;
      content: 'Dark';
      float: left;
      margin-left: 0.3em;
      margin-right: 0;
    }
  }
}
