@import '_themes';
@import '_util';


.rotation-inputs {
  display: flex;

  input.small-number {
    height: 2em;
  }

  .button {
    margin-left: 1em;
  }

  @media (max-width: 440px) {
    flex-direction: column;

    input.small-number {
      width: unset;
    }

    .button {
      margin-left: 0;
      margin-top: 0.5em;
    }
  }
}

/** Input + output textbox formatting **/
.scriptbox {
  @include var-with-fallback(border, --text-input-border, 1px solid $inputborder);
  box-sizing: border-box;
  font-family: 'DejaVu Sans Mono', 'Courier New', monospace;
  min-height: 5em;
  resize: none;
  width: 100%;

  &:focus {
    @include var-with-fallback(border, --text-input-border-focus, 2px solid $inputfocus);
  }
}
