@import '_util';
@import '_themes';

/********** General Page Style **********/

* {
  // Make themes swap smoothly. Matches transition for tab activation so they stay in sync.
  transition: background 0.2s ease, color 0.2s ease;
}
// TODO|kevin make almost all dimensions in this document relative to ems instead of px!
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include var-with-fallback(background, --main-bg-color, $bgcolor);
  @include var-with-fallback(color, --main-text-color, $textcolor);
  font-family: 'DejaVu Serif', Georgia, serif;
  font-size: 16px;
}

// Easy but only partial remedy for pre-HTML5 browsers (if you happen to be
// surfing the net from a fossil.) Doesn't help old versions of IE at all.
// Heavily abridged to just the semantic elements I'm actually using.
aside,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

// Content wrapper for the whole page
#wrapper {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

.main-header {
  margin: 0 2em;
}

h1,
h2 {
  font-variant: small-caps;
}

.subhead {
  font-size: 1.125em;
  font-style: italic;

  &::before {
    content: '\00a0\00a0\00a0\00a0\2767\00a0';
    font-weight: bold;
  }
}

// Container for primary page content
#main-content {
  padding-bottom: 4.25em;  // Same height as footer minus tab-panel bottom margin

  p:first-of-type:not(.subhead)::first-letter,
  hr+p::first-letter {
    // Yeeaaah, this is kind of egregious. It DOES look cool, though.
    // TODO|kevin Honestly this is just foolishness and should really be applied
    // to a class instead of this nightmare selector, but... it IS also FUN.
    @include var-with-fallback(color, --initial-caps-color, $capscolor);
    float: left;
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    margin-top: -0.25rem;
    padding-right: 0.25rem;
    @include var-with-fallback(text-shadow, --initial-caps-stroke, $defaultcapsstroke);
  }
}

/** Footer anchored to page bottom **/
#sticky-footer {
  display: flex;
  height: 6.25em;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 37.5em;
  padding: 0 2em;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

  a {
    text-decoration: none;
    img {
      height: 24px;
    }
  }
}

a {
  // TODO|kevin ....... is this really necessary
  cursor: pointer;
}

/** Custom horizontal rule **/
hr {
  // This actually looks pretty good in both light and dark modes, not touchin' it
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(102, 153, 255, 0.75), rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;
}

/** EXTRA-custom horizontal rule (div) **/
// Shouts to css-tricks: https://css-tricks.com/examples/hrs/
// Mine is on a div to be somewhat less ambiguous WRT standard.
.customrule {
  @include var-with-fallback(border, --main-content-border, 1px solid $bordercolor);
  border-radius: calc(1em - 1px);
  border-width: 1px 0 0 0;
  height: calc(1em - 1px);
  margin-top: 1.25em;

  &::before {
    @include var-with-fallback(border, --main-content-border, 1px solid $bordercolor);
    border-radius: calc(1em - 1px);
    border-width: 0 0 1px 0;
    content: '';
    display: block;
    height: calc(1em - 1px);
    margin-top: -1em;  // One more than the height
  }

  &::after {
    @include var-with-fallback(background, --customrule-flair-color, $flaircolor);
    @include var-with-fallback(border, --main-content-border, 1px solid $bordercolor);
    border-radius: 50%;
    content: ' ';
    display: block;
    height: 0.5em;
    margin: 0 auto;
    position: relative;
      // -1/2 height, -1px for own border, -0.5px to center on parent's border-top
      top: calc(-0.25em - 1.5px);
    text-align: center;
    width: 0.5em;
  }
}

/** Run and Go Back button formatting **/
// TODO|kevin honestly this feels kinda ugly now. I can do better than this.
.button {
  @include var-with-fallback(background, --main-bg-color, $bgcolor);
  @include var-with-fallback(border, --main-content-border, 1px solid $bordercolor);
  @include var-with-fallback(color, --main-text-color, $textcolor);
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  padding: 0.5em 1.5em 0.5em 1.5em;
  text-decoration: none;

  &.go-back {
    margin: 1em 0;
  }

  &:hover {
    @include var-with-fallback(background, --tab-hover-fill, $bordercolor);
    @include var-with-fallback(border, --tab-hover-border, 1px solid $tabglowcolor);
    @include var-with-fallback(color, --main-bg-color, $bgcolor);
    // TODO|kevin how might I update var-with-fallback to support this pattern more flexibly?
    box-shadow: 0 0 3px 0 $tabglowcolor;
    box-shadow: 0 0 3px 0 var(--tab-glow-color);
  }

  &:active {
    @include var-with-fallback(background, --customrule-flair-color, $flaircolor);
    @include var-with-fallback(border-color, --initial-caps-color, $capscolor);
    @include var-with-fallback(color, --main-text-color, $textcolor);
    // It's nice to animate colors in general, but :active response should be IMMEDIATE
    transition: 0s;
  }
}


/********** JavaScript-Python Interface **********/
// TODO|kevin some of this stuff MIGHT become irrelevant lol

/** Container div for script input **/
.script-interface {
  margin: 0 auto;
  width: 500px;
}

/** Input + output textbox formatting **/
.scriptbox {
  @include var-with-fallback(border, --text-input-border, 1px solid $inputborder);
  height: 5em;
  resize: none;
  width: 40em;

  &:focus {
    @include var-with-fallback(border, --text-input-border-focus, 2px solid $inputfocus);
  }
}

// TODO|kevin idk if I'll actually use any of these .ajax-status styles...
.ajax-status {
  text-align: center;
}

/** Status icons for AJAX submission buttons! **/
.ajax-status.success::before,
/*Add empty pseudo-element on left side as well,*/
.ajax-status.failure::before,
/*to keep the Run button centered.*/
.ajax-status.success::after,
.ajax-status.failure::after {
  content: '';
  margin: 0;
  padding: 0px 8px;  // Necessary for the element to display
  position: relative;
    left: 10px;
}

.ajax-status.success::after {
  background: transparent url('images/success.png') no-repeat;
}

.ajax-status.failure::after {
  background: transparent url('images/failure.gif') no-repeat;
}



/********** Tabbed Menu Buttons **********/

/** Container div for tab buttons **/
.tabs-menu {
  @include var-with-fallback(border-bottom, --main-content-border, 1px solid $bordercolor);
  height: 3em;
  position: relative;
  text-align: center;
}

.tabs-list {
  align-items: end;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  // TODO|kevin this looks pretty good but it could do better I feel like tbh...
  // setting flex on tab-title seems to only get me so far and the shrunk buttons
  // cause the "tabs shift when selected" issue to return in a big way lol
}

/** An individual item of the tab menu **/
.tab-title {
  display: inline-block;
  margin: 0 0.1em;
  vertical-align: bottom;
  width: 6em; // Explicit width to stop tabs shifting from bolded text

  > a {
    @include var-with-fallback(background, --main-bg-color, $bgcolor);
    @include var-with-fallback(border, --main-content-border, 1px solid $bordercolor);
    border-width: 1px 1px 0 1px;
    @include var-with-fallback(color, --main-text-color, $textcolor);
    display: block;
    margin: 0 1px;
    padding: 0.325em 0.625em;
    text-decoration: none;
    transition: background 0.2s ease, color 0.2s ease, padding 0.2s ease, border 0.2s ease;

    /*Hover highlighting for tab buttons*/
    &:hover, &:focus {
      @include var-with-fallback(background, --tab-hover-fill, $bordercolor);
      @include var-with-fallback(border, --tab-hover-border, 1px solid $tabglowcolor);
      border-width: 1px 1px 0 1px;
      @include var-with-fallback(box-shadow, --tab-hover-shadow, $defaulttabhover);
      // Color tab text as background on hover
      @include var-with-fallback(color, --main-bg-color, $bgcolor);
    }

    &:active {
      @include var-with-fallback(background, --customrule-flair-color, $flaircolor);
      @include var-with-fallback(border-color, --initial-caps-color, $capscolor);
      @include var-with-fallback(color, --main-text-color, $textcolor);
      transition: 0s;
    }
  }

  &.active > a {
    &, &:hover, &:focus {
      @include var-with-fallback(background, --main-bg-color, $bgcolor);
      box-shadow: none;
      @include var-with-fallback(color, --main-text-color, $textcolor);
      font-weight: bold;
      padding: 0.625em;
      position: relative;
        bottom: -1px;  // Shifts active tab down, obscuring tabs-menu border for tab effect
    }
  }
}


/********** Tabbed Content Display **********/

/** Container for all the tab panels **/
#tabs-content {
  /*Fix for horizontal scroll bar jump thanks to Ayke van Laetham: https://aykevl.nl/2014/09/fix-jumping-scrollbar*/
  margin-bottom: 1.25em;
  margin-left: calc(100vw - 100% + 1.25em);
  margin-right: 1.25em;
  margin-top: 1.25em;
  overflow: auto;
}

/** Basic tab panel formatting **/
.tab-panel {
  @include var-with-fallback(border, --main-content-border, 1px solid $bordercolor);
  margin: 0 auto 1.5em;
  max-width: 37.5em;
  overflow: hidden;
  padding: 1.25em;

  &.active {
    display: block;
  }  

  &.inactive {
    display: none;
  }
}

// TODO|kevin I feel like I should be able to clean this up more. Plus maybe
// make custom properties for the caps-color-based border styles and add fallback?
// TODO|kevin also it doesn't REALLY need to be shared, does it? This is index-specific.
#pixelface {
  background-image: url('../../images/pixelface-light-border@2x.png');
  background-size: 160px 160px;
  border: 1px solid;
  border-color: $capscolor;
  float: right;
  height: 160px;
  margin: 1em 0.5em 0 0.5em;
  width: 160px;

  [data-theme="dark"] & {
    background-image: url('../../images/pixelface-dark-border@2x.png');
    border-color: #46e;
  }

  @media (prefers-color-scheme: dark) {
    background-image: url('../../images/pixelface-dark-border@2x.png');
    border-color: #46e;

    [data-theme="light"] & {
      background-image: url('../../images/pixelface-light-border@2x.png');
      border-color: $capscolor;
    }
  }

  @media (max-width: 440px) {
    float: unset;
    margin: 0 auto;
  }
}
