/******** OVERALL LAYOUT ********/

:root {
  --frame-border-style: 5px ridge lightgray;
}

body {
  background-color: black;
  color: white;
  margin: 0;
}
img {
  vertical-align: middle;  // Fix baseline issue w/o making them block elements
}
h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
p {
  line-height: 1.6;
}
.main-header {
  background-image: linear-gradient(180deg, #000033 0%, #4b0082 25%, #dd2476 50%, #ff8c00 75%, #fddb92 100%);
  color: white;
  padding: 1em 1em 0;
  h1 {
    margin: 0 0 0.5em;
  }
  .subhead {
    align-items: center;
    color: black;
    display: flex;
    gap: 1em;
    justify-content: space-between;
  }
  p.marquee {
    width: 500px;
  }
}
.themetoggle {
  color: darkblue;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: bold;
  margin: 0 20px;
  input {
    color-scheme: dark;
  }
}
#main-content {
  border-top: var(--frame-border-style);
  display: flex;
}
a.go-back {
  // there was some weird inconsistency b/w chrome and ff with the ::after
  // pseudoelement being display:block, where chrome would treat the parent
  // anchor as display ~block and firefox as ~inline. this makes em consistent.
  display: inline-block;
}
#sticky-footer {
  align-items: center;
  background-image: url("/images/wedding/bgs/techno-tile.jpg");
  border-top: 4px ridge lightgray;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  color: limegreen;
  cursor: url("/images/wedding/curs/circuit.png"), auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 50px;
  padding: 10px;
  #counter {
    cursor: url("/images/wedding/curs/circuit-ptr.png") 8 0, pointer;
    display: inline-block;
    position: relative;
    &:hover::after {
      background-image: url("/images/wedding/counter-error.gif");
      background-position: center;
      background-size: cover;
      content: "";
      position: absolute;
      left: -7px;
      height: 38px;
      width: 123px;
      top: -7px;
    }
  }
  .netscape {
    display: block;
    filter: drop-shadow(0 0 6px white);
    float: left;
    margin-right: 5px;
  }
  a {
    color: lightgreen;
    cursor: url("/images/wedding/curs/circuit-ptr.png") 8 0, pointer;
    &:visited {
      color: green;
    }
  }
}
// Hide button for the under-construction tab, including the containing tab if
// the browser supports it (good enough eh?)--can be triggered programmatically
#tab-under-construction,
.tab-title:has(#tab-under-construction) {
  display: none;
}

/******** TABBED NAV MENU ********/

.tabs-menu {
  border-right: var(--frame-border-style);
  overflow: auto;
  min-width: 170px;
  flex-shrink: 0;
  text-align: center;
}
.tabs-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.tab-title {
  color: white;
  margin: 0.5em;
  a {
    color: white;
  }
  &.active {
    font-weight: bold;
    text-decoration: none;
    a {
      color: gold;
    }
    &::after {
      content: "➧";
      display: inline-block;
      margin-left: 4px;
      transform: rotate(180deg);
    }
    &::before {
      content: "➧";
      margin-right:4px;
    }
  }
}

/******** TAB PANEL CONTAINERS ********/

.inner-content {
  color: black;
  display: flex;
  flex-grow: 1;
  section {
    width: 100%;
  }
}
.tab-panel {
  padding: 1em;
  &.inactive {
    display: none;
  }
  &.active {
    display: block;
  }
}

/******** SMALL SCREEN SUPPORT ********/

@media (max-width: 650px) {
  #main-content {
    flex-direction: column;
  }
  .tabs-menu {
    border-right: none;
    border-bottom: var(--frame-border-style);
    resize: none;
  }
  .tabs-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #sticky-footer {
    flex-direction: column;
    gap: 10px;
  }
  .page-emblem, .hidesmall {
    display: none;
  }
}

/******** GOOFY UTILITIES ********/

* {
  image-rendering: pixelated;  // prevent smooth resize interpolation
}

// We all know what THIS is supposed to do, right?
// How to use: apply .marquee class to a div, optionally with a data-duration="##"
// attribute, and give that div two children with identical contents. For smooth
// looping, make sure the .marquee el is no wider than either of its children.
.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  > * {
    align-items: center;
    animation-duration: 10s;
    animation-duration: var(--marquee-duration, 10s);
    animation-iteration-count: infinite;
    animation-name: marquee-content;
    animation-timing-function: linear;
    display: flex;
    flex-shrink: 0;
    width: max-content;
  }
  &:hover > * {
    // I guess I'll add a *little* bit of modern spit-shine to it hehe
    animation-play-state: paused;
  }
}

@keyframes marquee-content {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

body span.censored {
  background: currentColor !important;
  &:hover {
    background: none !important;
  }
}

@mixin rainbowshadow($offset, $blur, $colorlist...) {
  $shadows: ();
  @for $i from 1 through length($colorlist) {
    $shadowx: -1 * $i * $offset;
    $shadowy: $i * $offset;
    $color: nth($colorlist, $i);
    $shadows: append($shadows, #{$shadowx} #{$shadowy} #{$blur} #{$color}, comma);
  }
  text-shadow: $shadows;
}

.rainbowtext {
  color: white;
  @include rainbowshadow(2px, var(--blur, 0px), red, orange, yellow, lime, aqua, blue, blueviolet, fuchsia);
  --blur: 3px;
  &:hover {
    --blur: 0;
  }
}

div.rel {  // Easy isolation for absolute positioning
  position: relative;
}

// TODO|kevin CUSTOM CURSOR(S)???
// TODO|kevin https://github.com/tholman/cursor-effects ????????

body.boring-mode{
  background-color: midnightblue !important;
   * {
    background-color: unset !important;
    background-image: none !important;
    box-shadow: none !important;
    border-color: white !important;
    color: lightgoldenrodyellow !important;
    cursor: revert !important;
    filter: none !important;
    text-shadow: none !important;
    img[src$=".gif"], img[src$=".webp"] {
      display: none !important;
    }
    ::after, ::before {
      background-image: none !important;
    }
  }
}

// * {
//   // TODO|kevin not sure if I'm totally happy with the cursor implementation
//   // yet so here's the escape hatch if I decide it sucks too bad lol
//   cursor: unset !important;
// }

.page-emblem {
  position: absolute;
  left: -140px;
  top: 300px;
}

// Lazy way to shift text above various absolutely-positioned images when needed
.z-pop {
  position: relative;
  z-index: 1;
}
// TODO|kevin some kinda shared utility class so I can insert fixed-position
// "sidebar items" underneath the nav buttons on each tab and then hide them
// below desktop widths, heh.
// (maybe just an img in a div, flex centering, consistent position, then define
// the actual imgs in each tab and put the display logic under the breakpoint.)
